html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Share", sans-serif; }

a {
  color: #e61414; }
  a:hover {
    color: #b71010; }

#tooltip {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  z-index: 100000; }
  #tooltip div {
    background-color: #000;
    color: #fff;
    color: #fff;
    padding: 5px 8px 4px 8px;
    text-align: left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    #tooltip div span {
      font-weight: bold; }

#sidebar, #footer {
  min-width: 400px;
  width: 20%;
  max-width: 500px; }

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0 20px;
  box-shadow: 0 0 20px 1px #ddd;
  background-color: #fff;
  height: 100%;
  overflow: scroll; }
  #sidebar h1, #sidebar h2 {
    font-weight: normal;
    text-align: center;
    color: #e61414;
    margin: 0; }
  #sidebar h1 {
    margin-top: 20px;
    font-size: 30px;
    line-height: 41px; }
  #sidebar h2 {
    font-size: 20px;
    line-height: 30px; }
  #sidebar #search {
    display: block;
    margin: 20px auto 0;
    position: relative;
    width: 166px;
    font-weight: normal;
    text-align: center;
    border-radius: 20px; }
    #sidebar #search input {
      padding-left: 24px;
      width: auto; }
    #sidebar #search label {
      position: absolute;
      top: 6px;
      left: 6px; }
      #sidebar #search label i {
        opacity: 0.8; }
  #sidebar table {
    opacity: 0; }
  #sidebar .breadcrumb {
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 8px;
    background-color: transparent;
    font-size: 16px; }
    #sidebar .breadcrumb li:last-child {
      font-weight: bold; }
  #sidebar table {
    margin-top: 20px;
    margin-bottom: 150px; }
    #sidebar table .n2013, #sidebar table .n2012, #sidebar table .diff {
      text-align: right; }
    #sidebar table .diff {
      font-weight: bold; }
    #sidebar table.table-hover tbody tr:hover td, #sidebar table.table-hover tbody tr.hover td {
      background-color: #fef1f1; }

#footer {
  position: fixed;
  z-index: 3;
  bottom: 0px;
  right: 20px;
  text-align: center;
  padding-top: 10px;
  box-shadow: 0 0 20px 1px #fff;
  background-color: #fff; }
  #footer p {
    margin: 0 0; }
  #footer p.links {
    margin-bottom: 15px; }
  #footer img {
    height: 60px;
    border: 0;
    margin-bottom: 15px; }

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  background-color: #f9f9f9; }
  svg rect {
    fill: #fff; }
  svg g.blur {
    opacity: 0;
    pointer-events: none; }
  svg .disabled {
    pointer-events: none; }
  svg text {
    text-transform: uppercase;
    font-family: "Share", sans-serif;
    font-weight: bold;
    opacity: 0.6;
    text-shadow: white 0 1px 0;
    pointer-events: none; }
    svg text.headline {
      opacity: 1;
      fill: #ececec;
      font-size: 40px;
      text-transform: none; }
  svg circle {
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    fill: transparent;
    stroke: #000;
    stroke-width: 1.5; }
  svg circle:hover, svg circle.hover {
    stroke-width: 2; }
  svg circle.surplus {
    stroke-width: 2; }
  svg circle.surplus:hover {
    stroke-width: 4; }

#not-supported {
  position: relative;
  z-index: 1;
  margin-right: 500px;
  height: 100%;
  background-color: #f9f9f9; }
  #not-supported img {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 90%;
    margin-top: -400px; }
  #not-supported .message {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF',endColorstr='#CCFFFFFF');
    zoom: 1;
    padding: 20px 500px 20px 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -200px;
    text-align: center; }
    #not-supported .message .try, #not-supported .message em {
      color: gray; }
    #not-supported .message em {
      font-size: 12px; }
    #not-supported .message .try {
      font-size: 10px;
      cursor: pointer; }
