$openDataRed:#E61414;
$font:"Share",sans-serif;

@mixin letterpress {
  text-shadow:white 0 1px 0;
}

@mixin background-color-alpha($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ie-hex-str}',endColorstr='#{$ie-hex-str}');
  zoom: 1;
}

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  font-family:$font;
}

a {
  color:$openDataRed;
  &:hover {
    color:darken($openDataRed, 10%);
  }
}

#tooltip {
  font-size:12px;
  position:absolute;
  padding:5px;
  z-index:100000;

  div {
    background-color:#000;
    color:#fff;
    color:#fff;
    padding:5px 8px 4px 8px;
    text-align:left;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    span {
      font-weight:bold;
    }
  }
}

$sidebarMaxWidth:500px;

#sidebar, #footer {
  min-width:400px;
  width:20%;
  max-width:$sidebarMaxWidth;
}

#sidebar {
  position:absolute;
  top:0;
  right:0;
  z-index:2;
  
  padding:0 20px;

  box-shadow:0 0 20px 1px #ddd;
  background-color:#fff;

  height:100%;
  overflow:scroll;


  h1, h2 {
    font-weight:normal;
    text-align:center;
    color:$openDataRed;
    margin:0;
  }

  h1 {
    margin-top:20px;
    font-size:30px;
    line-height:41px;
  }

  h2 {
    font-size:20px;
    line-height:30px;
  }

  #search {
    display:block;
    margin:20px auto 0;
    position:relative;
    width:166px;

    font-weight:normal;
    text-align:center;
    border-radius:20px;

    input {
      padding-left:24px;
      width:auto;
    }

    label {
      position:absolute;
      top:6px;
      left:6px;

      i {
        opacity:0.8;
      }
    }
  }

  // initially hidden
  table {
    opacity:0;
  }

  .breadcrumb {
    margin-top:20px;
    margin-bottom:-20px;
    padding:8px;
    background-color:transparent;
    font-size:16px;

    li:last-child {
      font-weight:bold;
    }
  }

  table {
    margin-top:20px;

    .value, .value2, .diff {
      text-align:right;
    }

    .diff {
      font-weight:bold;
    }

    &.table-hover tbody {
      tr:hover td, tr.hover td {
        background-color:lighten($openDataRed, 48%);
      }
    }

    .name {
      word-break:break-all;
      word-break:break-word;

      -webkit-hyphens:auto;
      -moz-hyphens:auto;
      hyphens:auto;
    }

    margin-bottom:150px;
  }


}

#footer {
  position:fixed;
  z-index:3;
  bottom:0px;
  right:20px;
  text-align:center;

  padding-top:10px;

  box-shadow:0 0 20px 1px #fff;
  background-color:#fff;

  p {
    margin:0 0;
  }

  p.links {
    margin-bottom:15px;
  }

  img {
    height:60px;
    border:0;
    margin-bottom:15px;
  }
}

$svgBgColor:#f9f9f9;
svg#canvas {
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  display:block;

  background-color:$svgBgColor;

  rect {
    fill:#fff;
  }

  g {
    &.blur {
      opacity:0;
      pointer-events:none;
    }
  }

  .disabled {
    pointer-events:none;
  }

  .shadow-parent {
    pointer-events:none;
  }

  text {
    text-transform:uppercase;
    font-family:$font;
    font-weight:bold;

    opacity:0.6;

    @include letterpress;
    pointer-events:none;

    &.headline {
      opacity:1;
      fill:darken($svgBgColor, 5%);
      font-size:40px;
      text-transform:none;
    }
  }

  circle {
    -webkit-transform : translateZ(0); 
    -o-transform : translateZ(0); 
    -moz-transform : translateZ(0); 
    transform : translateZ(0);

    fill:transparent;
    stroke:#000;
    stroke-width:1.5;
  }

  circle:hover, circle.hover {
    stroke-width:2;
  }

  circle.surplus {
    stroke-width:2;
  }

  circle.surplus:hover {
    stroke-width:4;
  }
}

#not-supported {
  position:relative;
  z-index:1;

  margin-right:$sidebarMaxWidth;
  height:100%;

  background-color:$svgBgColor;

  img {
    position:absolute;
    left:10%;
    top:50%;
    width:90%;
    margin-top:-400px;
  }

  .message {
    @include background-color-alpha(#fff, 0.8);
    padding:20px $sidebarMaxWidth 20px 0;

    position:absolute;
    top:50%;
    left:0;
    width:100%;
    margin-top:-200px;
    text-align:center;

    .try, em {
      color:gray;
    }

    em {
      font-size:12px;
    }

    .try {
      font-size:10px;
      cursor:pointer;
    }
  }
}
