= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"
:javascript
    window.jQuery || document.write('#{ javascript_include_tag('jquery-2').sub('</script>', '<\/script>').html_safe }');